*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
h1{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

h1 img{
    margin-right: 10px;
    font-size: 20px;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    
    text-align: flex-start;
    width: 70%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.faq{
    width: 100%;
    margin-top: 10px;
    
}
.questions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.answer{
   max-height: 0px;
   opacity: 0;
   width: 100%;
   transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faq.active .answer{
    max-height: 300px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.answer p{
    font-size: 24px; 
    font-weight: 400;
     color: hsl(218, 44%, 22%);
}

.answer.active {
    max-height: 300px;
    opacity: 1;
    font-size: 24px;
}
